<div>
  <%= form_tag('/robots', method: :post) do %>
    <h3>Sign up your Dryas</h3>
    <input placeholder="Dryas Name" type="text" name="robot_name">
    <input type="submit" value="Register">
  <% end %>
</div>
